<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18">Dashboard</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <ng-container>
              <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a>
              </li>
              <li class="breadcrumb-item active">Dashboard
              </li>
            </ng-container>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4">
      <div class="card overflow-hidden">
        <div class="bg-primary-subtle">
          <div class="row">
            <div class="col-7">
              <div class="text-primary p-3">
                <h5 class="text-primary">Welcome Back !</h5>
                <p>{{ systemName }} Dashboard</p>
              </div>
            </div>
            <div class="col-5 align-self-end">
              <img src="../../../../assets/images/profile-img.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-4">
              <div class="avatar-md profile-user-wid mb-4">
                <img src="../../../../assets/images/users/avatar-1.jpg" alt="" class="img-thumbnail rounded-circle">
              </div>
              <h5 class="font-size-15 text-truncate">Henry Price</h5>
              <p class="text-muted mb-0 text-truncate">UI/UX Designer</p>
            </div>

            <div class="col-sm-8">
              <div class="pt-4">

                <div class="row">
                  <div class="col-6">
                    <h5 class="font-size-15">125</h5>
                    <p class="text-muted mb-0">Projects</p>
                  </div>
                  <div class="col-6">
                    <h5 class="font-size-15">$1245</h5>
                    <p class="text-muted mb-0">Revenue</p>
                  </div>
                </div>
                <div class="mt-4">
                  <a href="" class="btn btn-primary btn-sm">View Profile <i class="mdi mdi-arrow-right ms-1"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="row">
        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title mb-4">Social Source</h4>
              <div class="text-center">
                <div class="avatar-sm mx-auto mb-4">
                            <span class="avatar-title rounded-circle bg-primary-subtle font-size-24">
                                <i class="mdi mdi-facebook text-primary"></i>
                            </span>
                </div>
                <p class="font-16 text-muted mb-2"></p>
                <h5><a href="javascript: void(0);" class="text-dark">Facebook - <span class="text-muted font-16">125
                                    sales</span> </a></h5>
                <p class="text-muted">Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero
                  venenatis
                  faucibus tincidunt.</p>
                <a href="javascript: void(0);" class="text-primary font-16">Learn more <i
                  class="mdi mdi-chevron-right"></i></a>
              </div>
              <div class="row mt-4">
                <div class="col-4">
                  <div class="social-source text-center mt-3">
                    <div class="avatar-xs mx-auto mb-3">
                                    <span class="avatar-title rounded-circle bg-primary font-size-16">
                                        <i class="mdi mdi-facebook text-white"></i>
                                    </span>
                    </div>
                    <h5 class="font-size-15">Facebook</h5>
                    <p class="text-muted mb-0">125 sales</p>
                  </div>
                </div>
                <div class="col-4">
                  <div class="social-source text-center mt-3">
                    <div class="avatar-xs mx-auto mb-3">
                                    <span class="avatar-title rounded-circle bg-info font-size-16">
                                        <i class="mdi mdi-twitter text-white"></i>
                                    </span>
                    </div>
                    <h5 class="font-size-15">Twitter</h5>
                    <p class="text-muted mb-0">112 sales</p>
                  </div>
                </div>
                <div class="col-4">
                  <div class="social-source text-center mt-3">
                    <div class="avatar-xs mx-auto mb-3">
                                    <span class="avatar-title rounded-circle bg-pink font-size-16">
                                        <i class="mdi mdi-instagram text-white"></i>
                                    </span>
                    </div>
                    <h5 class="font-size-15">Instagram</h5>
                    <p class="text-muted mb-0">104 sales</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title mb-5">Activity</h4>
              <ul class="verti-timeline list-unstyled">
                <li class="event-list">
                  <div class="event-timeline-dot">
                    <i class="bx bx-right-arrow-circle font-size-18"></i>
                  </div>
                  <div class="d-flex">
                    <div class="flex-shrink-0 me-3">
                      <h5 class="font-size-14">22 Nov <i
                        class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
                      </h5>
                    </div>
                    <div class="flex-grow-1">
                      <div>
                        Responded to need “Volunteer Activities
                      </div>
                    </div>
                  </div>
                </li>
                <li class="event-list">
                  <div class="event-timeline-dot">
                    <i class="bx bx-right-arrow-circle font-size-18"></i>
                  </div>
                  <div class="d-flex">
                    <div class="flex-shrink-0 me-3">
                      <h5 class="font-size-14">17 Nov <i
                        class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
                      </h5>
                    </div>
                    <div class="flex-grow-1">
                      <div>
                        Everyone realizes why a new common language would be desirable... <a
                        href="javascript: void(0);">Read
                        more</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="event-list active">
                  <div class="event-timeline-dot">
                    <i class="bx bxs-right-arrow-circle font-size-18 bx-fade-right"></i>
                  </div>
                  <div class="d-flex">
                    <div class="flex-shrink-0 me-3">
                      <h5 class="font-size-14">15 Nov <i
                        class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
                      </h5>
                    </div>
                    <div class="flex-grow-1">
                      <div>
                        Joined the group “Boardsmanship Forum”
                      </div>
                    </div>
                  </div>
                </li>
                <li class="event-list">
                  <div class="event-timeline-dot">
                    <i class="bx bx-right-arrow-circle font-size-18"></i>
                  </div>
                  <div class="d-flex">
                    <div class="flex-shrink-0 me-3">
                      <h5 class="font-size-14">12 Nov <i
                        class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"></i>
                      </h5>
                    </div>
                    <div class="flex-grow-1">
                      <div>
                        Responded to need “In-Kind Opportunity”
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="text-center mt-4"><a href="javascript: void(0);" class="btn btn-primary btn-sm">View
                More <i class="mdi mdi-arrow-right ms-1"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Social Source</h4>
          <div class="row mt-4">
            <nz-table #basicTable [nzData]="">
              <thead>
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let data of basicTable.data">
                <td>{{data.name}}</td>
                <td>{{data.age}}</td>
                <td>{{data.address}}</td>
                <td>
                  <a>Action 一 {{data.name}}</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a>Delete</a>
                </td>
              </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
